:root {
  --primary-color: #49a6e9;
  --second-color: #7149e9;

  --grey-color-1: hsl(209,61%, 16%);
  --grey-color-2: hsl(212, 33%, 89%);
  --grey-color-3: hsl(210, 36%, 96%);

  --white-color: #fff;

  --transition: all 0.3s linear;
  --radius: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white-color);
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: var(--transition);
}

.hide-preloader {
  z-index: -999;
  visibility: hidden;
}

header {
  min-height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.switch-btn {
  position: absolute;
  bottom: 7%;
  left: 7%;
  width: 7rem;
  height: 2rem;
  display: flex;
  border-radius: var(--radius);
  align-items: center;
  justify-content: space-around;
  border: none;
  transition: var(--transition);
}

.switch-btn span {
  display: inline-block;
  font-size: 0.85rem;
  cursor: pointer;
  color: var(--primary-color);
}

.switch {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: var(--radius);
  background-color: var(--second-color);
  margin: 0;
  display: block;
  transition: var(--transition);
}

.slide .switch {
  left: 50%;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: -1;
}