:root {
  --primary-color: #49a6e9;
  --second-color: #7149e9;
  --grey-color-1: hsl(209, 61%, 16%);
  --grey-color-2: hsl(212, 33%, 89%);
  --grey-color-3: hsl(210, 36%, 96%);
  --white-color: #fff;
  --black-color: #222;
  --ff-primary: sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--grey-color-3);
  color: var(--grey-color-1);
  font-size: 0.875rem;
}

img {
  width: 100%;
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.title {
  text-align: center;
  margin-bottom: 4rem;
}

.title p {
  width: 80%;
  margin: 0 auto;
}

.about-img {
  margin-bottom: 2rem;
}

.about-img img {
  border-radius: var(--radius);
  object-fit: cover;
  height: 20rem;
}

@media screen and (min-width: 992px) {
  .about-img {
    margin-bottom: 0;
  }
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

.about {
  background: var(--white-color);
  border-radius: var(--radius);
  display: grid;
  grid-template-rows: auto 1fr;
}

.btn-container {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tab-btn:nth-child(1) {
  border-top-left-radius: var(--radius);
}

.tab-btn:nth-child(3) {
  border-top-right-radius: var(--radius);
}

.tab-btn {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  background-color: var(--grey-color-2);
  cursor: pointer;
  transition: var(--transition);
  letter-spacing: var(--spacing);
}

.tab-btn:hover:not(.active) {
  background-color: var(--primary-color);
  color: var(--second-color);
}

.about-content {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  padding: 2rem 1.5rem;
}

.content {
  display: none;
}

.tab-btn.active {
  background-color: var(--white-color);
}

.content.active {
  display: block;
}
