:root {
  --grey-200: #e2e8f0;
  --grey-500: #64748b;
  --grey-700: #334155;

  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fluid-width: 90vw;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.products {
  width: var(--fluid-width);
  display: grid;
  grid-gap: 1rem;
  margin: 4rem auto;
  max-width: var(--max-width);
}

.filters-container h5 {
  font-weight: 500;
  margin: 1.5rem 0 0.5rem;
  font-size: 0.85rem;
}

.search-input {
  padding: 0.5rem;
  background-color: var(--grey-200);
  border-radius: var(--borderRadius);
  border-color: transparent;
  letter-spacing: var(--letterSpacing);
}

.company-btn {
  display: block;
  margin: 0.25rem 0;
  padding: 0.25rem;
  text-transform: capitalize;
  background-color: transparent;
  border-color: transparent;
  letter-spacing: var(--letterSpacing);
  color: var(--grey-500);
  cursor: pointer;
  transition: var(--transition);
  font-size: 0.85rem;
}

.company-btn:hover {
  color: var(--grey-700);
}

.product {
  margin-bottom: 1rem;
}

.product-img {
  border-radius: var(--borderRadius);
  height: 15rem;
}

.product div {
  padding: 0.75rem 0;
  text-align: center;
}

.product-name {
  margin-bottom: 0.25rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  color: var(--grey-500);
}

.product-price {
  margin-bottom: 0;
  color: var(--grey-700);
  font-size: 1rem;
  letter-spacing: var(--letterSpacing);
}


@media screen and (min-width: 768px) {
  .products {
      grid-template-columns: 200px 1fr;
  }
}

@media screen and (min-width: 992px) {
  .products-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
  }

  .products-container .product-img {
      height: 10rem;
  }

  .products-container .product-name {
      font-size: 0.85rem;
  }

  .products-container .product-price {
      font-size: 0.85rem;
  }

  .product {
      margin-bottom: 0;
  }
}

@media screen and (min-width: 1170px) {
  .products-container {
      grid-template-columns: repeat(3, 1fr);
  }
}