:root {
  --primary-color: #49a6e9;
  --second-color: #7149e9;
  --grey-color-1: hsl(209, 61%, 16%);
  --grey-color-2: hsl(212, 33%, 89%);
  --grey-color-3: hsl(210, 36%, 96%);
  --white-color: #fff;
  --black-color: #222;
  --ff-primary: sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --max-width: 1170px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--grey-color-3);
  color: var(--grey-color-1);
  font-size: 0.875rem;
}

img {
  /* width: 100%; */
}

.btn {
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: var(--second-color);
  padding: 0.4rem 0.7rem;
  transition: var(--transition);
  border: 2px solid var(--primary-color);
  border-radius: var(--radius);
  cursor: pointer;
}

.btn:hover {
  color: var(--primary-color);
  background-color: var(--second-color);
  border-color: var(--second-color);
}

.block {
  min-height: 50vh;
}

.bcg-black {
  background-color: var(--grey-color-1);
}

.container {
  width: 90vw;
  max-width: 730px;
  background-color: var(--white-color);
  margin: 0 auto;
  margin-top: -200px;
  border-radius: var(--radius);
  position: relative;
  text-align: center;
  padding: 1.5rem;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background-color: var(--grey-color-2);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.container img {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
  background-color: var(--white-color);
}

.user-title {
  font-size: 18px;
}

.user-value {
  color: var(--grey-color-1);
  font-size: 28px;
}

.values-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.icon {
  background: transparent;
  border: transparent;
  font-size: 1.5rem;
  color: var(--grey-color-2);
  transform: var(--transition);
}

.icon:hover {
  color: var(--primary-color);
}

.active {
  color: var(--primary-color);
}

.btn {
  margin-top: 1.5rem;
}